.footer{
 width: 100%;
 padding-top: 5rem;
 background-color: #f4f5ff;
 z-index: 1;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 flex-direction: column;
}

.container{
 width: 90%;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 flex-wrap: wrap;
}

.container .mainData{
 width: 40rem;
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: column;
 gap: 2rem;
 margin-bottom: 3rem;
}

.container .mainData path{
 fill: #2f1c6a!important;
}

.mainData p{
 font-size: 1.5rem;
 font-weight: 700;
 color: #2f1c6a;
}

.mainData .payments{
 width: 100%;
 height: 5rem;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 gap: 1.5rem;
}
.mainData .payments div{
 width: 7rem;
 height: 4.6rem;
 position: relative;
}
.container .data{
 display: flex;
 justify-content: flex-start;
 align-items: flex-start;
 flex-direction: column;
 gap: 1.5rem;
 width: 15rem;
 margin-bottom: 3rem;
}
.data p{
 font-size: 1.5rem;
 font-weight: 600;
 color: #2f1c6a;
 line-height: .9;
}
.data h1{
 font-size: 2rem;
 font-weight: 700;
 color: #2f1c6a;
 margin-bottom: 1rem;
}

.mainFooter{
 width: 90%;
 height: 6rem;
 margin-top: 2rem;
 border-top: solid 1px #8c85ff33;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.mainFooter span{
 font-size: 1.8rem;
 font-weight: 500;
 color: #4a4779b1;
}

@media (max-width: 97rem) {
 .mainFooter span{
  font-size: 1.5rem;
 }
}
@media (max-width: 43rem) {
 .mainFooter span{
  font-size: 1.3rem;
 }
}